/*-----------------------------------Fonts------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

/*-----------------------------------Body-------------------------------------------*/
body {
    display: flex;
    background-color: #5b6060;
    width: 100%;
    height: 100%;
    margin: 0;
}



:focus {
    outline: none;
}

p {
    font-family: 'Signika', sans-serif;
    font-size: 4vw;
    color: #034b57;
}

/*----------------------------------Boutons Base------------------------------------  */
button {
    text-align: center;
    color: #034b57;
    border: 2px solid #555555;
    box-shadow: 2px 2px 2px #05626d;
    transition-duration: 0.05s;
    cursor: pointer;
}

button:hover {
    background-color: #a81919;
    color: white;
}

/*-----------------------------------Header------------------------------------------*/
header {
    height: 11vh;

    display: flex;
    justify-content: space-around;
    background-color: #7cb7b6;
    border-radius: 10px;
    border: solid 2px #328784;

}

#home {
    width: 17%;
    height: 100%;
    display: flex;
}

/*-----------------------------------Bouton Home----------------------------------------*/
#home button {
    width: 90%;
    height: 90%;
    margin: auto;

    font-size: 3.5vw;
    text-decoration: underline overline;

    border-radius: 10px;
    background-color: transparent;
}

#home button:hover {
    background-color: #a81919;
}

/*--------------------------------------------------------------------------------------*/
#titre {
    width: 66%;
}

#logo {
    width: 17%;
}

#logo img {
    width: 100%;
    height: 100%;
}


h1 {
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 2px 2px 2px #05626d;
    font-size: 2.5vh;
    text-align: left;
    margin-top: 0;

}

h2 {
    font-family: 'Special Elite', cursive;
    font-style: italic;
    font-size: 2vh;
    text-align: left;
}

h1,
h2 {
    color: #034b57;
}

/*-------------------------------------Section-------------------------------------------*/
section {
    height: 87vh;
    border-radius: 10px;
    border: solid 2px #328784;
    background-color: #7cb7b6;
    display: flex;
    flex-direction: column;
}

section p,
div {
    text-align: center;
}


section div {
    height: 11%;
    width: 100%;
}

section button {
    width: 50%;
    height: 8vh;
    margin: auto;

    font-family: 'Lobster';
    font-size: 5vw;

    border-radius: 30px 1px;
    background-color: grey;
}

section button:hover {
    width: 95%;
}

.play2 {
    background-color: #59a56c;
}

/***********************************************************************************/


@media all and (min-device-width: 900px) {


    body {

        width: 900px;
        height: 1000px;
    }

    header {
        height: 100px;
    }

    section {
        height: 900px;
    }


    p {

        font-size: 20px;
    }

    #home button {
        font-size: 20px;
    }


    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;

    }


    section div {
        height: 100px;
        width: 100%;
    }

    section button {
        width: 50%;
        height: 80px;
        margin: auto;
        font-size: 30px;

    }



/***********************************************************************************/